click==7.1.2
beautifulsoup4==4.9.1
redis==3.5.3
redisearch==1.0.0
falcon==2.0.0
gunicorn==20.0.4
falcon-cors==1.1.7
python-dotenv==0.14.0
gevent==20.6.2
Cython==0.29.21
--no-binary :all: falcon==2.0.0