fastapi-cprofile
fastapi==0.63.0
ujson==4.0.2
httpx==0.18.1
uvicorn[standard]==0.13.4
click==7.1.2
beautifulsoup4==4.9.1
aioredis==2.0.0a1
gunicorn==20.0.4
python-dotenv==0.14.0
rq==1.7.0
python-dotenv==0.14.0
rq-scheduler==0.10.0
scrapy==2.3.0
gevent==20.9.0
hiredis==1.1.0
newrelic==6.0.1.155
redisearch==2.0.0
requests==2.7.0
idna<3
redisearch==2.0.0
